*{
  padding: 0;
  margin:  0;
  box-sizing: border-box;
}


body{
  width: 100%;
  height: 100%;
  
}

.notesCon{
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: navajowhite;
}

.files{
  background-color: rgb(61, 64, 0);
  display: flex;
  gap: 1rem;
  padding: 1rem;
  border-radius: 2rem;
  
}
.files h1{
  color: whitesmoke;
}

#filesName{
  border: 2px solid black;
  outline: none;
  padding: 0.6rem;
  border-radius: 1rem;
  background-color: rgb(250, 250, 214);
  
}

@media screen and (max-width: 500px) {
  .files{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    padding-bottom: 0;
  }
}

