<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/src/favicon.png" type="image/png">

    <title>1st SanNotes</title>
    <link rel="stylesheet" href="/style.css">

</head>

<body>
    <section class="notesCon">
        <div class="files">

            <h1>SanNotes</h1>
            <form  id= "titleChange" method="post">
                <input type="text" placeholder="File name" id="filesName" name="title">
            </form>
            
        </div>
        <p style="color: rgb(32, 35, 10);">-- Input your desired file name --</p>
    </section>

    <script src="/index.js"></script>

</body>

</html>